<div class="section bg-gradient-to-r from-gradient-dark to-gradient-light h-screen w-full flex flex-col items-center justify-center">
    <p class="text-white text-center text-2xl tracking-widest">Logoforslag for</p>
    <p class="text-white text-center text-4xl tracking-widest mt-2"> Kooriako</p>
</div>

<div class="section h-screen w-full flex flex-col items-center justify-center">
    <div class="flex items-center">
        <img src="../../../assets/img/logo1.png" alt="_kooriako1">
    </div>
    <div class="mt-10">
        <p class="text-center text-2xl text-grey-80 font-medium">SYMBOLET</p>
        <p class="text-center text-xl text-black mt-3">Småfugl:</p>
        <p class="text-center text-black mt-1">
            Forutsigbarhet, punktlighet, varsling (gjøkur), samhandling, overblikk, hastighet, oppmerksomhet, rutiner og opp-i-rett-tid-om-morran :-)
        </p>
    </div>
</div>

<div class="section h-screen w-full flex flex-col items-center ">
    <div class="flex items-center">
        <img src="../../../assets/img/logo2.png" alt="_kooriako2">
        <!-- <p class="text-center text-7xl">Kooriako</p> -->
    </div>
    <div>
        <p class="text-center mt-9 text-black text-2xl">SYMBOL & NAVN</p>
        <p class="text-center mt-3 text-black">Navnet er satt i en lettlest og tydelig skrifttype (Gravita Hum)</p>
    </div>
</div>

<div class="section h-screen w-full flex flex-col items-center justify-center">
    <div class="mb-20">
        <img src="../../../assets/img/logo3.png" alt="_kooriako3">
    </div>
    <div class="mt-32">
        <p class="text-center text-black text-2xl">SYMBOL & NAVN</p>
        <p class="text-center text-black mt-3">Få rene farger slik at logoen også lett kan benyttes på andre bakgrunner enn hvit.</p>
    </div>
</div>

<div class="section bg-gradient-to-r from-gradient-dark to-gradient-light h-screen w-full flex flex-col justify-between">
    <div class="p-10 md:p-20">
        <div class="w-full flex justify-between items-center"> 
            <div>
                <img src="../../../assets/img/logo5.png" alt="_kooriako5">
            </div>
            <nav class="flex flex-row gap-7">
                <a class="text-white text-2xl">Om oss</a>
                <a class="text-white text-2xl">Tjenester</a>
                <a class="text-white text-2xl">Kontakt oss</a>
                <a class="text-white text-2xl">Logg inn</a>
                <a>
                    <svg class="text-white" width="30" height="30" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M21 21L15.0001 15M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </a>
            </nav>
        </div>
    </div>
    <div class="flex-1 flex flex-row gap-40 justify-center items-center text-center">
        <div>
            <img src="../../../assets/img/logo4.png" alt="_kooriako4">
        </div>
        <div class="flex flex-col justify-start items-stat">
            <h1 class="text-white text-7xl font-medium mb-6 text-left tracking-wide">Timeregistrering <br> og vaktlister</h1>
            <p class="text-white mb-6 max-w-md text-left">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim a.
            </p>
            <button class="bg-white px-7 py-3 rounded-full hover:bg-gray-100 transition max-w-[300px]">Utforsk våre tjenester</button>
        </div>
    </div>

    <div class="p-5">
        <p class="text-white text-center">Eksempel på bruk</p>
    </div>
</div>
